* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #312e81;
    --secondary-color: #333333;
    --border-color: rgb(4, 119, 158);
    --header-color: rgb(193, 212, 217);
}

html {
    font-size: 10px;
    /* font-family: 'Kalam', cursive; */
    color: var(--secondary-color);
    text-align: center;
}


/* =======  Header section  ======= */
.header {
    background-image: url(image/background.jpg);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-align: center;
}


.header img {
    width: 70rem;
}

/* =======  Main section  =======*/
.row {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.row .col {
    margin-top: 3rem;
}

.row .col-1 p,
.row .col-3 p {
    font-size: 2.5rem;
    text-align: left;
    margin: 1rem auto;
}

.row .col-2 {
    display: flex;
    flex-direction: column;
}

.row div textarea {
    box-sizing: border-box;
    display: flex;
    min-height: 40vh;
    min-width: 40vw;
    margin-top: 1rem;
    font-size: large;
    font-family: inherit;
    border: 5px solid #d0d6dc;
    border-radius: 5px;
}

.row div textarea[placeholder="Put your message here..."] {
    padding: 1rem;
}

.row div textarea[placeholder="Translation in progress..."] {
    padding: 1rem;
}

.row .col button {
    padding: 1rem;
    margin: 1rem auto;
    border-radius: 1rem;
    border: 3px solid var(--border-color);
    background-color: var(--border-color);
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
}

.row .col-2 .btn1 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin: auto 0.5rem;
    margin-top: 8rem;
}

.row .col-2 .btn2 a {
    text-decoration: none;
    color: #fff;
}

/* =======  Footer section  =======*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-image: url(image/background.jpg);
    background-position: center;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    display: block;
    min-height: 15vh;
    margin: 0rem auto;
    font-size: 1rem;
}

footer h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

footer p {
    font-size: 1.6rem;
    padding: 0rem 35rem;
}

/* =======  Responsive  ======= */
@media screen and (max-width: 1200px) {
    .row {
        display: inline-block;
        margin: auto;
    }

    .row .col-3 {
        margin-top: 0rem;
    }

    .row .col-2 {
        display: inline;
    }

    .row div textarea {
        min-height: 20vh;
        min-width: 80vw;
    }

    .row .col-2 .btn1 {
        margin-top: 2rem;
    }


    footer p {
        padding: 0rem 25rem
    }
}

@media screen and (max-width: 900px) {
    .row {
        display: inline-block;
        width: 80%;
    }

    .row .col p {
        font-size: 2rem;
    }

    .row .col-2 {
        display: inline;
        margin: 0.2rem;
    }

    .row .col button {
        font-size: 2rem;
    }

    .row div textarea {
        min-height: 15vh;
        min-width: 80vw;
    }

    .row .col-3 textarea {
        margin-bottom: 2rem;
    }

    footer p {
        padding: 0rem 1rem
    }
}

@media screen and (max-width: 760px) {
    .header img {
        width: 35rem;
        height: 13vh;
    }

    .row .col-2 {
        display: inline;
    }

    .row div textarea {
        min-height: 20vh;
        min-width: 80vw;
    }

    footer p {
        padding: 0rem 1rem
    }

    footer {
        position: relative;
    }
}

@media screen and (max-width:320px) {

    .row .col p {
        font-size: 1.8rem;
    }

    .row .col button {
        font-size: 1.8rem;
    }

    .row .col-2 .btn1 {
        margin: 1rem 0rem 0rem;
    }
}